<?xml version="1.0"?>
<config>
    <modules>
        <Billmate_Checkout>
            <version>1.0.0</version>
        </Billmate_Checkout>
    </modules>
    <global>
        <models>
            <bmcheckout>
                <class>Billmate_Checkout_Model</class>
            </bmcheckout>
        </models>
        <resources>
            <bmcheckout_setup>
                <setup>
                    <module>Billmate_Checkout</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bmcheckout_setup>
            <bmcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bmcheckout_read>
            <bmcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bmcheckout_write>
        </resources>
        <blocks>
            <bmcheckout>
                <class>Billmate_Checkout_Block</class>
            </bmcheckout>
        </blocks>
        <helpers>
            <bmcheckout>
                <class>Billmate_Checkout_Helper</class>
            </bmcheckout>
        </helpers>
   </global>
    <default>
        <payment>
            <bmcheckout>
                <default_shipping_method>freeshipping_freeshipping</default_shipping_method>
                <terms_page>6</terms_page>
                <privacy_policy_page>6</privacy_policy_page>
                <show_cart_side>0</show_cart_side>
                <model>bmcheckout/methods_bmcheckout</model>
                <countries>SE,DE,NL</countries>
                <order_status>pending</order_status>
                <title><![CDATA[Billmate Сheckout]]></title>
                <active>1</active>
                <include_tax>1</include_tax>
                <min_amount>0</min_amount>
                <max_amount>99999</max_amount>
               <payment_action>authorize</payment_action>
            </bmcheckout>
        </payment>
        <payment_action>authorize</payment_action>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Billmate_Checkout>
                    <files>
                        <default>Billmate_Checkout.csv</default>
                    </files>
                </Billmate_Checkout>
            </modules>
        </translate>
        <layout>
            <updates>
                <bmcheckout module="Billmate_Checkout">
                    <file>billmate_checkout_method.xml</file>
                </bmcheckout>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <!--<controller_action_predispatch_firecheckout_index_index>
                <observers>
                    <billmate_firecheckout_index>
                        <class>Billmate_Common_Model_Observer</class>
                        <method>redirectToCancelUrl</method>
                    </billmate_firecheckout_index>
                </observers>
            </controller_action_predispatch_firecheckout_index_index>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <billmate_onepagecheckout_index>
                        <class>Billmate_Common_Model_Observer</class>
                        <method>redirectToCancelUrl</method>
                    </billmate_onepagecheckout_index>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>-->
            <sales_order_place_after>
                <observers>
                    <billmate_common_clearHash>
                        <class>Billmate_Checkout_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </billmate_common_clearHash>
                </observers>
            </sales_order_place_after>
        </events>
        <routers>
            <billmatecheckout>
                <use>standard</use>
                <args>
                    <module>Billmate_Checkout</module>
                    <frontName>billmatecheckout</frontName>
                </args>
            </billmatecheckout>
            <checkout>
                <args>
                    <modules>
                        <billmate_checkout before="Mage_Checkout">Billmate_Checkout</billmate_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <Billmate_Checkout>
                    <files>
                        <default>Billmate_Checkout.csv</default>
                    </files>
                </Billmate_Checkout>
            </modules>
        </translate>
        <layout>
            <updates>
                <bm_checkout>
                    <file>billmate_checkout.xml</file>
                </bm_checkout>
            </updates>
        </layout>
    </frontend>
</config>
